@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent scrolling entirely */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body takes up full height */
  overflow: hidden; /* Disables both vertical and horizontal scrolling */
  background-color: #ffffff
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Prevent overflow in main content area */
main {
  height: 100%; /* Ensure content fits within the viewport */
  overflow: hidden; /* Prevents any scroll */
  padding-top: 60px; /* Adjust based on header height */
}

/* Make header sticky at the top */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
  padding: 20px;
  box-shadow: none;
}


/* Set style for the header content */
header .logo {
  font-size: 24px;
  font-weight: bold;
}

/* Reset anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

/* New hover effects */
a:hover {
  color: black;
  background-color: white;
  border-radius: 0.25rem;
}

/* Mobile responsiveness */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .text-center {
    text-align: center;
  }
}



/* Allow scrolling only inside the projects section */
.projects-scroll {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* smooth scroll on mobile */
  padding: 20px;
}
